<div class="row">
	<div class="col-md-3" id="left">
		<form >
			Add up to six courses:
			<br>
			<input class = "courses" type="text" name="course1" placeholder="CSC108H1F" maxlength = "9" style="text-transform:uppercase" list="courseList">
			<br>
			<input class = "courses" type="text" name="course2" placeholder="CSC165H1F" maxlength = "9" style="text-transform:uppercase" list="courseList">
			<br>
			<input class = "courses" type="text" name="course3" placeholder="MAT135H1F" maxlength = "9" style="text-transform:uppercase" list="courseList">
			<br>
			<input class = "courses" type="text" name="course4" placeholder="PSY100H1F" maxlength = "9" style="text-transform:uppercase" list="courseList">
			<br>
			<input class = "courses" type="text" name="course5" placeholder="LIN200H1S" maxlength = "9" style="text-transform:uppercase" list="courseList">
			<br>	
			<input class = "courses" type="text" name="course6" placeholder="NML210Y1Y" maxlength = "9" style="text-transform:uppercase" list="courseList">
			<br>
		</form>

		<datalist id="courseList">
			<option value="AST101H1F">
			<option value="CSC108H1F">
			<option value="CSC301H1F">
			<option value="MAT137Y1Y">
			<option value="MAT224H1F">
			<option value="PHY151H1F">
		</datalist>

		<select id ="filter" class="filterMenu">
			<option selected="selected">Filter Results by</option>
			<option value="leastTime">Least time at school</option>
			<option value="evening">Evening Classes preferred</option>
			<option value="longBreaks">Long Breaks</option>
		</select>

		<br>
		<br>
		<button class='button' id="generateSchedule">GENERATE</button>
	</div>

	<div class="col-md-9" id="right">
		<div class="row">
			<div class="col-md-12 scheduleHeader">
				<div><button class="arrow" id="leftArrow">&lt;</button></div>
				<div class="scheduleTitle"><h4>Schedule <span id="index">1</span> of <span id="total">1</span></h4></div>
				<div><button class="arrow" id="rightArrow">&gt;</button></div>
			</div>
		</div>
		<div class="row">
			<table class="table-bordered" id="Schedule">
				<colgroup>
					<col width="20%">
					<col width="16%">
					<col width="16%">
					<col width="16%">
					<col width="16%">
					<col width="16%">
				</colgroup>
				<tr>
					<th>Time</th>
					<th>Monday</th>
					<th>Tuesday</th>
					<th>Wednesday</th>
					<th>Thursday</th>
					<th>Friday</th>
				</tr>
				<tr class="8">
					<th>8:00 - 9:00</th>
					<td class="Monday"> test value <br>asdfkawlekfj<br>awklefjalwkefjkla</td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="9">
					<th>9:00 - 10:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="10">
					<th>10:00 - 11:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="11">
					<th>11:00 - 12:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="12">
					<th>12:00 - 1:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="13">
					<th>1:00 - 2:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="14">
					<th>2:00 - 3:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="15">
					<th>3:00 - 4:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="16">
					<th>4:00 - 5:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>			
				<tr class="17">
					<th>5:00 - 6:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="18">
					<th>6:00 - 7:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="19">
					<th>7:00 - 8:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
				<tr class="20">
					<th>8:00 - 9:00</th>
					<td class="Monday"> </td>
					<td class="Tuesday"> </td>
					<td class="Wednesday"> </td>
					<td class="Thursday"> </td>
					<td class="Friday"> </td>
				</tr>
			</table>
		</div>
	</div>
</div>