<div class="row">
	<div class="col-md-4" id="left">
		<form >
			Add up to six courses:
			<br>
			<input class = "courses" type="text" name="course1" placeholder="CSC108H1F" maxlength = "9" style="text-transform:uppercase">
			<br>
			<input class = "courses" type="text" name="course2" placeholder="CSC165H1F" maxlength = "9" style="text-transform:uppercase">
			<br>
			<input class = "courses" type="text" name="course3" placeholder="MAT135H1F" maxlength = "9" style="text-transform:uppercase">
			<br>
			<input class = "courses" type="text" name="course4" placeholder="PSY100H1F" maxlength = "9" style="text-transform:uppercase">
			<br>
			<input class = "courses" type="text" name="course5" placeholder="LIN200H1S" maxlength = "9" style="text-transform:uppercase">
			<br>	
			<input class = "courses" type="text" name="course6" placeholder="NML210Y1Y" maxlength = "9" style="text-transform:uppercase">
			<br>
		</form>

		<select id ="filter" class="filterMenu">
			<option selected="selected">Filter Results by</option>
			<option value="leastTime">Least time at school</option>
			<option value="evening">Evening Classes preferred</option>
			<option value="longBreaks">Long Breaks</option>
		</select>

		<br>
		<br>
		<a href='#' class='button'>GENERATE</a>
	</div>

	<div class="col-md-8" id="right">
		<div class="row">
			<div class="col-md-12 scheduleHeader">
				<div class="arrow" id="leftArrow"><button>&lt;</button></div>
				<div>Schedule</div>
				<div class="arrow" id="rightArrow"><button>&gt;</button></div>
			</div>
		</div>
		<table class="table-bordered" id="Schedule">
			<colgroup>
				<col width="20%">
				<col width="16%">
				<col width="16%">
				<col width="16%">
				<col width="16%">
				<col width="16%">
			</colgroup>
			<tr>
				<th>Time</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thrusday</th>
				<th>Friday</th>
			</tr>
			<tr>
				<th>8:00 - 9:00</th>
				<td> test value <br>asdfkawlekfj<br>awklefjalwkefjkla</td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>9:00 - 10:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>10:00 - 11:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>11:00 - 12:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>12:00 - 1:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>1:00 - 2:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>2:00 - 3:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>3:00 - 4:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>4:00 - 5:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>			
			<tr>
				<th>3:00 - 4:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>4:00 - 5:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>5:00 - 6:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>6:00 - 7:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>7:00 - 8:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
			<tr>
				<th>8:00 - 9:00</th>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
		</table>
	</div>
</div>