html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

.arrow {

}

.text{
	position: absolute;
}
.button {
   border: 1px solid #8cd1ff;
   background: #8cd1ff;
   background: -webkit-gradient(linear, left top, left bottom, from(#8cd1ff), to(#8cd1ff));
   background: -webkit-linear-gradient(top, #8cd1ff, #8cd1ff);
   background: -moz-linear-gradient(top, #8cd1ff, #8cd1ff);
   background: -ms-linear-gradient(top, #8cd1ff, #8cd1ff);
   background: -o-linear-gradient(top, #8cd1ff, #8cd1ff);
   background-image: -ms-linear-gradient(top, #8cd1ff 0%, #8cd1ff 100%);
   padding: 10px 73px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #8cd1ff 0 1px 0;
   color: #ffffff;
   font-size: 28px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }

   #leftSide {
   	float: left;
   	margin-right: 170px;
   }

   #rightSide{
   	float: left;
   	text-align: center;
   }
   .courses {
   	position: relative;
   	margin-top: 15px;
   border: 2px solid #000000;
   background: #ffffff;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #000000;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }

   .filterMenu {
   border: 2px solid #000000;
   background: #ffffff;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #000000;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:300px;
   }

	#sides{
		margin:0;
	}
	
	#Monday{
		position: absolute;
		float:left;
		margin-left: 530px;
		margin-right: 95px;
		overflow:hidden;
		color: #8cd1ff;

	}
	#Tuesday{
		position: absolute;
		float:left;
		margin-left: 670px;
		margin-right: 95px;
		overflow:hidden;
		color: #8cd1ff;
	} 
	#Wednesday{
		position: absolute;
		float:left;
		margin-left: 810px;
		margin-right: 95px;
		overflow:hidden;
		color: #8cd1ff;
	} 
	#Thursday{
		position: absolute;
		float:left;
		margin-left: 965px;
		margin-right: 95px;
		overflow:hidden;
		color: #8cd1ff;
	} 
	#Friday{
		position: absolute;
		float:left;
		margin-left: 1120px;
		margin-right: 95px;
		overflow:hidden;
		color: #8cd1ff;
	} 

 .wrapper{
 	position: absolute;
	float: left;
	margin-left: 175px;
	margin-top: 25px;
	left: 314px;
	width: 735px;
	background-color: #000000
}


.wp1{
	position: relative;
	float: left;
	left: 1px;
	top: 2px;
	width: 144px;
}
.wp1 div{
	width: 100%;
	margin-bottom: 3px;
}
.g11{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g12{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g13{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g14{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g15{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g16{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g17{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g18{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g19{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g110{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g111{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g112{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.wp2{
	position: relative;
	float: left;
	left: 4px;
	top: 2px;
	width: 144px;
}
.wp2 div{
	width: 100%;
	margin-bottom: 3px;
}
.g21{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g22{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g23{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g24{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g25{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g26{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g27{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g28{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g29{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g210{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g211{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g212{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.wp3{
	position: relative;
	float: left;
	left: 7px;
	top: 2px;
	width: 144px;
}
.wp3 div{
	width: 100%;
	margin-bottom: 3px;
}
.g31{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g32{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g33{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g34{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g35{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g36{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g37{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g38{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g39{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g310{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g311{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g312{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.wp4{
	position: relative;
	float: left;
	left: 10px;
	width: 144px;
	top: 2px;
}
.wp4 div{
	width: 100%;
	margin-bottom: 3px;
}
.g41{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g42{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g43{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g44{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g45{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g46{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g47{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g48{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g49{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g410{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g411{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g412{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.wp5{
	position: relative;
	float: left;
	left: 13px;
	top: 2px;
	width: 144px;
}
.wp5 div{
	width: 100%;
	margin-bottom: 3px;
}
.g51{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g52{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g53{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g54{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g55{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g56{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g57{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g58{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g59{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g510{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g511{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}
.g512{
	height: 38px;
	background-color: rgb(255, 255, 255);
	margin-top: 
}


#Schedule {
	float: left;
	text-align: left;
}

#right {
	text-align: center;
}

.scheduleHeader {
	display: inline-block;
}

.scheduleHeader > div {
	display: inline-block;
}